<div class="navbar">

  <div class="logo col-3">
    <img src="/assets/img/Search d_evs.png">
  </div>

  <div class="search col-9">
    <input
    placeholder="Search"
    type="text">
  </div>

</div>

<div class="conteudo">
  <div class="row container">
    <div class="card-perfil col-3">
      <div class="row">
        <div class="foto-perfil">foto</div>
        <div class="identificacao">
          <div class="nome"> <b>nome sobrenome</b></div>
          <div>@nome</div>
        </div>
      </div>

      <div class="margin">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos numquam quaerat nobis voluptatem, quod tenetur
      </div>

      <div class="margin infos-perfil" >
        <div class="seguidores">
          <img src="/assets/icons/seguidores.png"> n seguidores
        </div>

        <div class="seguindo">
          <img src="/assets/icons/seguindo.png"> n seguindo
        </div>
      </div>

      <div class="margin infos-perfil">
        <div class="trabalho">
          <img src="/assets/icons/work.png"> Petize
        </div>
        <div class="local">
          <img src="/assets/icons/local.png"> Local
        </div>
        <div class="contato">
          <img src="/assets/icons/"> email@petize.com.br
        </div>
        <div class="site">
          <img src="/assets/icons/site.png"> www.site.com.br
        </div>
        <div class="social">
          <img src="/assets/icons/twiter.png">@contato
        </div>
      </div>

      <button class="btn btn-primary">Contato</button>
    </div>


    <div class="repositorio col-9">
      <div>
        <b>Reposotório Nome</b>
      </div>

      <div class="repositorio-info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia et nulla, in rerum enim deleniti dolor assumenda. Qui veniam consectetur dolorum recusandae
      </div>

      <div class="repositorio-info infos-perfil">
        <div>
          <img src="../../assets/icons/star.png"> 100
          <span><img src="../../assets/icons/dot.png"></span> atualizado há n dias
        </div>

      </div>
      <hr>
    </div>
  </div>


</div>
